@model IEnumerable<EventManagementSystemADV.Models.Event>

<h2>Events</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Date</th>
            <th>Volunteers</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Category</td>
                <td>@item.Date.ToString("d")</td>
                <td>
                    @foreach (var volunteer in item.Volunteers)
                    {
                            <span>@volunteer.FullName</span>

                        <br />
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
</tbody>

</table>
